<header>
  <nav>
    <div class="collapsible-menu">
      <input type="checkbox" id="menu">
      <label for="menu">trEAT</label>
      <div class="menu-content">
        <ul>
          <li *ngIf="loading">
            <span class="username text">loading...</span>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li *ngIf="!loading && !!user">
            <a href="#">Profile</a>
          </li>
          <li>
            <a></a>
          </li>
          <li *ngIf="!loading && anon">
            <a href="/signup">Signup</a>
          </li>
          <li *ngIf="!loading && anon">
            <a href="/login">Login</a>
          </li>
          <li *ngIf="!loading && !!user">
            <a (click)="logout()">Logout</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
<div>
  <router-outlet></router-outlet>
</div>