/*---- reset ----*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

.menu-content {
  max-height: 0;
  overflow: hidden;
  font-family: 'Oswald', sans-serif; 
  padding: 0 0 0 50px;
}
.collapsible-menu {
  background-color: rgb(229,171,128);
  padding: 0px 30px;
  border-bottom: 0.7px solid rgba(0, 0, 0, 0.7);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  color: black;
}

.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
}
.collapsible-menu a {
  display:block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.collapsible-menu label {
    display: block;
    cursor: pointer;
    padding: 10px 0 10px 40%;
    font-size: 2.5em;
}

.collapsible-menu label img {
  font-size: 1.5em;
  width: 4vh;
  margin-left: -38vw;
}

#menu {
  display: none;
}

.title {
  margin-left: 7vw;
  
}
  
*/
input#menu {
    display: none;
}
input:checked ~ .menu-content {
  max-height: 100%;
}