/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

/* h1 {}

h2 {}

h3 {} */

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

/* .container {
  margin: 0 20px;
} */

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* -- navbar -- */

.navigation {
	background-color: #00bcd4;
	padding: 10px 30px;
	height: 70px;
	border-bottom: 1px solid #008596;
  
  /*blocks are aligned using flex*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuItem {
	margin: 20px 15px;
  /*Montserrat font by googlefonts*/
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 18px;
	text-decoration: none;
}

.menuItem:hover {
	margin-bottom: 17px;
	border-bottom: 3px solid white;
  /*CCS3 element for hover effect*/
	-webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}