<div class="container">
  <form class="search-form">
    <input class="search-bar" type="text" placeholder="Treat Yourself" required #searchInput>
    <button (click)="handleSearch(searchInput.value)" class="search-button" type="submit">Search</button>
  </form>


  <div *ngIf="restaurants" class="card-container">
    <div class="card">
      <div class="card-title">
        <ul>
          <li *ngFor="let restaurant of restaurants ">
            <p>{{restaurant.image_url}}</p>
            <p>{{restaurant.name}}</p>
            <p>{{restaurant.price}}</p>
            <p>{{restaurant.rating}}</p>
            <p>{{restaurant.location.address1}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>