<!-- <div class="wrap">
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Treat yourself">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>

    <input type="image" class="searchButton" src="https://banner2.kisspng.com/20180401/bcw/kisspng-computer-icons-search-box-button-clip-art-search-5ac0b49e7ded23.1119936015225785905158.jpg"
    />
  </div> -->

<div class="container">
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Treat Yourself">
    <button type="submit" class="searchButton">Search</button>
  </div>

  <div>
    <form class="search-form">
      <input class="search-bar" type="text" placeholder="Search..." required>
      <input class="search-button" type="button" value="Search">
    </form>
  </div>

</div>