/* ----Format ----*/


.container {
  background-image: url("https://images.unsplash.com/photo-1504855101244-34edfbd4b861?ixlib=rb-0.3.5…jEyMDd9&s=dfbd225…&auto=format&fit=crop&w=500&q=60");
  height: 91vh;
  background-repeat: no-repeat;
  position: absolute;
  width: 96vw;
  background-position: left;
}

.search {
  display: flex;
  justify-content: center;

}

.search-form {
  width:80vw;
  margin-top: 50vh;
  margin-left: 10vw;
}

.search-bar {
  padding:8px 15px;
  background:rgb(45,23,7, 0.75);
  border:0px solid #dbdbdb;
  color: white
}

.search-bar::placeholder {
  color: white
}

.search-button {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:rgb(45,23,7);
  color:#fafafa;
}