@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* ----Format ----*/
/* body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  text-align: center;
} */


/*---- Searcbar ----*/
/* .search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 22px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */


.container {
  background-image: url("https://images.unsplash.com/photo-1493843007199-f4397137f7d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=59a985209f936b2358830eb32d8d3669&auto=format&fit=crop&w=500&q=60");
  height: 100vh;
}

.search {
  display: flex;
  justify-content: center;

}
