/* ----Format ----*/


.container {
  background-image: url("https://images.unsplash.com/photo-1493843007199-f4397137f7d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=59a985209f936b2358830eb32d8d3669&auto=format&fit=crop&w=500&q=60");
  height: 100vh;
}

.search {
  display: flex;
  justify-content: center;

}

.search-form {
  width:80vw;
  margin:50px auto;
}

.search-bar {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}

.search-button {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}