/* -- body --*/
form {
  text-align: center;
}

.field input {
  border: rgba(0, 0, 0, 0.26) 0.25px solid;
}

.container {
  background-image: url('https://images.unsplash.com/photo-1513321409245-5c6a71bd5242?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1b38e2cf2fdc70148833d0ce0368e867&auto=format&fit=crop&w=500&q=60'); 
  height: 89vh;
  position: absolute;
  width: 54vh;
  background-size: cover;
}

.form-container {
  background-color: rgba(230,230,230,0.75);
}

.form-container form {
  margin-top: 15vh;
  padding: 1vh;
}

/* -- navbar -- */



/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
  background-color: rgba(0,0,0, 0.1)
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: rgba(255,255,255,0.4);
  cursor: pointer;
  border: rgb(176,92,28) 1px solid;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}